<div id="artist_container">
  <ul id="artist_selector">
    <!-- here comes collection of artist_view -->
  </ul>
</div>
<script type="text/template" id="artist_template">
  <%%= name %>
</script>

<div id="record_container">
  <ul id="record_list">
  <!-- here comes collection of record list -->
  </ul>
</div>
<script type="text/template" id="record_template">
  <%%= title %>
</script>
